.container {
  margin-top: 4rem;
  overflow: hidden;
  font-size: 1rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
}

.first-section h2 {
  margin-top: 0;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 43px;
  text-align: left;
}

.first-section p {
  text-align: justify;
}

.second-section img {
  width: 40vw;
  border-radius: 30px 0px 0px 30px;
}

.content-section {
  margin: 5rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.content-section h2{
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 43px;
}

.content-section p {
  font-size: 1rem;
}
.vision {
  margin-bottom: 5rem;
}

.vision p {
  text-align: center;
}

.mission p {
  text-align: justify;
}

.team-section {
  margin-bottom: 5rem;
}

.team-section h2{
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 5rem;
  text-align: center;
}

.team-member {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.member {
  width: calc(30% - 1rem);
  text-align: center;
  margin-bottom: 2rem;
}

.member h3 {
  margin: 0.5rem;
}

.member h4 {
  color: #073859;
  margin: 0;
  font-size: small;
}

.member img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%; 
}

.values-section {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.values-section h2{
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 5rem;
  text-align: center;
}

.values-container {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.value {
  /* flex-basis: calc(30% - 1rem); */
	/* height: 30vh; */
  width: 22vw;
  min-height: 40vh;
	margin: 1rem;
	margin-bottom: 2rem;
	background-color: #F0F0F0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
  color: #073859;
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
}

.value:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}

.icon {
  width: 40px;
  height: 40px;
}


@media (max-width: 479px) {
  .header-section {
    margin-right: 2rem;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
  }

  .first-section {
    order: 1;
  }

  .first-section h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  /* .first-section p {
    text-align: justify;
  } */

  .second-section {
    display: flex;
    justify-content: center;
  }

  .second-section img {
    width: 70vw;
    border-radius: 1rem;
  }

  .content-section {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .content-section h2 {
    font-size: 1.5rem;
  }

  .content-section p {
    font-size: 1rem;
  }

  .team-section {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .team-section h2 {
    font-size: 1.5rem; 
  }

  .member {
    width: calc(100% - 2rem);
  }

  .member h3 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .member h4 {
    font-size: 0.8rem;
  }

  .member img {
    width: 200px;
    height: 200px;
  }

  .values-section h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .value {
    width: 40vw;
    padding: 1rem;
    min-height: 30vh;

  }

  .icon {
    width: 30px;
    height: 30px;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  .header-section {
    margin-right: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .first-section {
    order: 1;
  }

  .first-section h2 {
    text-align: center;
  }

  .second-section {
    display: flex;
    justify-content: center;
  }

  .second-section img {
    width: 70vw;
    border-radius: 1rem;
  }
  .content-section h2 {
    font-size: 2rem;
    
  }

  .content-section p {
    font-size: 1rem;
  }

  .team-section {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .team-section h2 {
    font-size: 2rem; 
  }

  .member {
    width: calc(50% - 2rem);
  }

  .member h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .member h4 {
    font-size: 0.9rem;
  }

  .member img {
    width: 200px;
    height: 200px;
  }

  .values-section h2 {
    font-size: 2rem;
    text-align: center;
  }

  .value {
    width: 30vw;
    padding: 1rem;
    min-height: 30vh;

  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .second-section img {
    height: 40vh;
    object-fit: cover;
  }

  .content-section h2 {
    font-size: 2rem;
  }

  .team-section {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .team-section h2 {
    font-size: 2rem; 
  }

  .member img {
    width: 200px;
    height: 200px;
  }

  .values-section h2 {
    font-size: 2rem;
    text-align: center;
  }

  .value {
    width: 20vw;
    padding: 1rem;
    min-height: 30vh;

  }
  
}
