.background {
  /* background-image: url("/src/assets/homeimg.png");
  background-size: cover;
  background-position: center; */
  width: 100vw;
  height: 100vh;
}

.content {
  position: relative;
  top: 60px;
  color: white;
  margin-bottom: 5rem;
}

.heading {
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-bottom: 43px;
  text-align: center;
}

.paragraph {
  margin-bottom: 60px;
  font-size: 18px;
  color: black;
  text-align: center;
}

.contactForm button[type="submit"] {
  background-color: #08385a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.card3 {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

.contactForm {
  margin-bottom: 20px;
  width: 30vw;
  padding: 3rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #F0F0F0;
}

.formHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #08385a;
  width: 50%;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 60px;
  /* margin-left: 35px; */
}


@media (max-width: 479px) {
  .image {
    width: 100%; 
    object-fit: cover; 
    margin-left: 0; 
  }

  .contactForm {
    width: 90%; 
    padding: 1rem; 
  }

  .contactForm button[type="submit"] {
    width: 90%;
    align-items: center;
    margin-left: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .image {
    width: 100%; 
    object-fit: cover; 
  }

  .contactForm {
    width: 80%; /* Adjust form width */
  }

  .contactForm button[type="submit"] {
    margin-left: 0;
  }
} 

@media (min-width: 768px) and (max-width: 991px) {
  .image {
    width: 90%; 
    object-fit: cover; 
    
  }

  .contactForm {
    width: 60%; 
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card3 {
    overflow: hidden;
  }
  
  .image {
    width: 90%; 
    object-fit: cover;

  }

  .contactForm {
    width: 50%; 
  }
}
