/* Default styles */
.content {
  margin: 5rem
}

.heading {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.paragraph {
  margin-bottom: 30px;
  font-size: 18px;
  color: black;
  text-align: center;
}

.cardscontainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.card {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

.email-div {
  display: flex;
  justify-content: center;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contactForm-contact {
  width: 45%;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 2rem;
}


.formHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.contactForm-contact form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
}

.contactForm-contact input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contactForm-contact input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contactForm-contact input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}


.contactForm-contact textarea {
  resize: vertical;
}

.contactForm-contact button[type="submit"] {
  background-color: #08385a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 105%;
  margin-bottom: 2rem;

}

.mapLocator {
  margin-bottom: 5%;
}

.mapLocator iframe {
  margin-top: 5rem;
  width: 450px;
  height: 550px;
  border: none;
  border-radius: 8px;
  margin-right: 50px;
}

.Footer {
  margin-top: 100px;
  width: 100%;
  height: 500px;
}



@media (max-width: 479px) {
  .cardscontainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    height: auto;
  }

  .contactContainer {
    flex-direction: column;
    align-items: center;
  }

  .contactForm-contact,
  .mapLocator iframe {
    width: 100%;
    margin: 0;
  }

  .mapLocator {
    display: flex;
    justify-content: center;
  }

  .mapLocator iframe  {
    height: 300px;
  }

  .email-div {
    font-size: smaller;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .cardscontainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    height: auto;
  }

  .contactContainer {
    flex-direction: column;
    align-items: center;
  }

  .contactForm-contact {
    width: 80%;
    margin: 0;
  }

  .mapLocator iframe {
    width: 80vw;
    margin: 0;
  }

  .mapLocator {
    display: flex;
    justify-content: center;
  }

  .mapLocator iframe  {
    height: 300px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .cardscontainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 45%;
  }

  .contactForm-contact {
    width: 45%;
    margin: 0;
  }

  .mapLocator iframe {
    margin: 0;
    width: 100%;
  }
}

/* For large devices (desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .cardscontainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 40%;
  }

  .contactForm-contact,
  .mapLocator iframe {
    width: 45%;
    margin: 0;
  }
}