/* Landing Section */
.home {
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
}

.landing {
	display: flex;
}

.landing-container {
	position: relative;
	max-width: 100%;
}

.landing-text {
	position: absolute;
	top: 25%;
	left: 2rem;
	transform: translateY(-50%);
	z-index: 1;
	text-align: left;
}

.landing-title {
	font-size: 3rem;
	margin-top: 3rem;
	color: #ffffff;
}

.landing-paragraph {
	color: white;
	text-align: left;
	font-size: 1.2rem;
}

.landing-image img {
	max-width: 100%;
	height: auto;
}

/* .discover-btn {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: #08385a;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} */

.button {
	border-radius: 10px;
	background-color: #08385a;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 1rem;
	padding: 1.5rem 2rem;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 1rem;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.view-more-btn:hover {
	color: white;
	background-color: black;
}

/* Services Section */
.services-section {
	text-align: center;
	margin: 5rem;
}

.services-section h2 {
	/* color: #08385a; */
	margin-bottom: 3rem;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.service-cards-home {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.service-card-home {
	flex-basis: calc(20% - 1rem);
	height: 30vh;
	margin: 1rem;
	margin-bottom: 2rem;
	background-color: #e3e3e3;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.service-card-home button {
	border: 0;
	padding: 0.5rem;
	border-radius: 0.4rem;
	background-color: #08385a;
	color: white;
	cursor: pointer;
}

.service-card-home button:hover {
	background-color: #020538;
}

/* 
.partners {
	text-align: center;
	margin: 2rem;
	background-color: #f0f0f0;
	padding-bottom: 1rem;
	border-radius: 2rem;
}

.partners h2 {
	padding-top: 2rem;
	color: #08385a;
}

.slider-div {
	overflow: hidden;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.partner-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.partner-logo img {
	max-width: 12vw;

}

.testimonial-section {
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 2rem;
	margin-right: 2rem;
	border-radius: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #f0f0f0;
}

.testimonial-card {
	width: 100px;
}

.testimonial-section h1,
h2,
h4 {
	color: black;
	text-align: center;
	margin: 0;
	padding: 0;
}

.testimonial-section h2 {
	margin-bottom: 2rem;
} */

@media (max-width: 479px) {
	.landing-text {
		top: 30%;
	}

	.landing-title {
		font-size: 2rem;
		margin-top: 10;
	}

	.landing-paragraph {
		font-size: 0.8rem;
	}

	.landing-image img {
		height: 100vh;
		object-fit: cover;
	}

	.services-section h2 { 
		font-size: 1.5rem;
	}

	.service-cards-home {
		flex-direction: column;
	}

	.service-card-home {
		padding: 1rem;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.landing-text {
		top: 30%;
	}

	.landing-title {
		font-size: 2.2rem;
		margin-top: 10;
	}

	.landing-paragraph {
		font-size: 0.8rem;
	}

	.landing-image img {
		height: 100vh;
		object-fit: cover;
	}

	.services-section h2 { 
		font-size: 1.5rem;
	}

	.service-cards-home {
		flex-direction: row;
	}

	.service-card-home {
		padding: 1rem;
		flex-basis: calc(30% - 1rem);
	}
  }

  @media (min-width: 768px) and (max-width: 991px) {
	.landing-text {
		top: 40%;
	}

	.landing-title {
		font-size: 2.2rem;
	}

	.landing-paragraph {
		font-size: 1rem;
	}

	.services-section h2 { 
		font-size: 1.8rem;
	}

	.service-card-home {
		font-size: 0.9rem;
		padding: 1.5rem;
		height: 15vh;
	}
  }

  @media (min-width: 992px) and (max-width: 1199px) {
	.landing-text {
		top: 40%;
	}

	.service-card-home {
		font-size: 0.9rem;
		padding: 1rem;
		height: 20vh;
	}
  }
  